  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #056402;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    
  }
  #footer .social-links a:hover {
    background: #fd5a28;
    color: #fff;
    text-decoration: none;
  }

  #footer {
    color: #b4aca8;
    font-size: 14px;
    background: #5a014e;
  }

  header {
    color: #b4aca8;
    font-size: 14px;
    background: #fcfa88;
    height: 100px;
  }
  nav {
    color: #b4aca8;
    font-size: 14px;
    background: #6289df;
    height: 50px;
  }
  section {
    color: #b4aca8;
    font-size: 14px;
    background: #ffffff;
    height: 561px;
  }